
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.env
Microsoft/
/DeleteEvents/Microsoft/
/Microsoft/
tests/AccountSettings/
tests/Customisation/
tests/DeleteEvents/
tests/EditEvents/
tests/CreateEvents/